{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h2>Examples</h2>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p>Continuing the enzyme example from the introduction, let us first examine a set of hypothetical enzymes that range from being being perfectly promiscuous to completly specific. In the first case, enzyme Pr has exactly equal catalytic efficiencies toward all substrates in the set; the probability functions are the same. And on the opposite extreme, enzyme Sp exhbits almost no activity towards any substrate but one. In between, are sets of catalytic efficiencies that are increasingly disparate: from all being identical (promiscuous), to one high and the rest negligible (specific). Concretely, one activity value from the completly promiscuous case is replaced with a random activity drawn from a very broad uniform distribution for each letter A-Z on the plot below. As this occurs, the I indices decrease from 1 to approaching 0.</p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {{ fig1.render()|safe }}
    </div>
</div>
<div class="row">
    <div class="large=12 columns">
        <p>Next, consider what happens during a typical jackknife analysis. Data for three example enzymes were generated: a specific enzyme (blue), where the activity of this enzyme towards Cmpd 6 is much higher than every other substrate, and two promiscuous enzymes, with activites for one being high (yellow), and one low (green). </p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {{ fig2.render()|safe }}
    </div>
</div>
<div class="row">
    <div class"large-12 columns">
        <p>As each substrate is left out of the analysis in turn, it is clear that any one substrate has very little effect on the promiscuity index for that enzyme, if the enzyme is promiscuous. Leaving out the single high activity substrate for the specific enzyme drastically increases the promiscuity index. Several concepts and cautions are clearly demonstrated here:</p>
        <ol>
            <li>The promiscuity index does <em>not</em> indicate the level of activity towards substrates.</li>
            <li>Leaving a specific enzyme's natural substrate out of the analysis can make it appear promiscuous.</li>
            <li>Thus, the set of substrates must be chosen with care, and should be as complete and unbiased as possible.</li>
        </ol>
        <p>Interested parties are encouraged to read the references for applied, real world examples of using promiscuity indices. Also note, that although we have used enzymes and substrates as our examples throughout the theoretical discussion, there is no real reason why the same analysis cannot be accomplished using other functional units and their own cognate inputs.</p>
    </div>
</div>

{% endblock %}
