<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta chartset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if title %}<title>Hetaira | {{ title }}</title>{% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
        <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
        <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

    </head>
    <body>
        <div class="contain-to-grid sticky">
            <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                    <h1><a href="{{ url_for('index') }}">Hetaira</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="right">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                        <li><a href="{{ url_for('examples') }}">Examples</a></li>
                        <li><a href="#">Source</a></li>
                    </ul>
                </section>
            </nav>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="row">
            <div class="large-12 columns">
                <div data-alert class="alert-box alert round">
                    {{ message }}<a href="" class="close">&times;</a>
                </div>
            </div>
        </div>
        {% endfor %}

        {% block content %}{% endblock %}
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <p style="text-align:center">The source code for this project can be found in this <a href="">repo</a></p>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
        <script>$(document).foundation();</script>
        
    </body>
</html>
