{% extends "base.html" %}
{% block content %}
<p><h1>Welcome to Hetaira</h1></p>
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
    Upload your file<br>
    {{ form.datafile() }}
    {% for error in form.datafile.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p><input type="submit" value"Submit"></p>
</form>
{% for result in results %}
<div><p>{{ result.id }} {{ result.J }}  {{ result.I }}</p></div>
{% endfor %}
<div>dset: {{ dset }}</div>
{% endblock %}

